.imageCard {
  position: relative;
  overflow: hidden;

  &:hover .imageOverlay {
    opacity: 1;
  }
}

.image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.imageOverlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); // Semi-transparent overlay for text
  color: white;
  width: 100%;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imageTitle {
  font-size: 1rem;
  font-weight: bold;
}

.imageDescription {
  font-size: 0.8rem;
  margin-top: 5px;
}