.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  outline: none;

  &.primary {
    background-color: var(--color-light-gray);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-weight: bold;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-light-gray);
    }
  }

  &.secondary {
    background-color: var(--color-primary);
    color: var(--color-light-gray);
    border: 2px solid var(--color-light-gray);
    font-weight: bold;

    &:hover {
      background-color: var(--color-light-gray);
      color: var(--color-primary);
    }
  }
}
